<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="nl.Energie.EDSN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <nl.Energie.EDSN.Properties.Settings>
            <setting name="EDSN2016_ChangeOfSupplier_ChangeOfSupplier" serializeAs="String">
                <value>http://localhost:9000/b2b/synchroon/ResponderChangeOfSupplierRespondingActivity</value>
            </setting>
            <setting name="EDSN2016_ChangeOfSupplierBatch_ChangeOfSupplierBatch"
                serializeAs="String">
                <value>http://localhost:9000/b2b/synchroon/ResponderChangeOfSupplierBatchRespondingActivity</value>
            </setting>
            <setting name="EDSN2016_MasterData_MasterData" serializeAs="String">
                <value>http://localhost:9000/b2b/synchroon/ResponderMasterDataRespondingActivity</value>
            </setting>
            <setting name="EDSN2016_MasterDataUpdate_MasterDataUpdate" serializeAs="String">
                <value>http://localhost:9000/b2b/synchroon/ResponderMasterDataUpdateRespondingActivity</value>
            </setting>
            <setting name="EDSN2016_MeteringPointInformation_MeteringPointInformation"
                serializeAs="String">
                <value>http://localhost:9000/b2b/synchroon/ResponderMeteringPointInformationRespondingActivity</value>
            </setting>
            <setting name="EDSN2016_MeterReading_MeterReading" serializeAs="String">
                <value>http://localhost:9000/b2b/synchroon/ResponderMeterReadingRespondingActivity</value>
            </setting>
            <setting name="EDSN2016_MeterReadingDispute_MeterReadingDispute"
                serializeAs="String">
                <value>http://localhost:9000/b2b/synchroon/ResponderMeterReadingDisputeRespondingActivity</value>
            </setting>
            <setting name="EDSN2016_MoveInBatch_MoveInBatch" serializeAs="String">
                <value>http://localhost:9000/b2b/synchroon/ResponderMoveInBatchRespondingActivity</value>
            </setting>
            <setting name="EDSN2016_NoticeEOS_NoticeEOS" serializeAs="String">
                <value>http://localhost:9000/b2b/synchroon/ResponderNoticeEOSRespondingActivity</value>
            </setting>
            <setting name="EDSN2016_ChangeOfAllocationMethod_ChangeOfAllocationMethod"
                serializeAs="String">
                <value>http://localhost:9000/b2b/synchroon/ResponderChangeOfAllocationMethodRespondingActivity</value>
            </setting>
            <setting name="Energie_EDSN_FileDownload_FileDownloadService"
                serializeAs="String">
                <value>http://localhost:7001/b2b/bulk/download/FileDownload</value>
            </setting>
            <setting name="Energie_EDSN_FileCheckOut_FileCheckOutService"
                serializeAs="String">
                <value>http://localhost:7001/b2b/bulk/generic/FileCheckOut</value>
            </setting>
            <setting name="Energie_EDSN_FileList_FileListService" serializeAs="String">
                <value>http://localhost:7001/b2b/bulk/generic/FileList</value>
            </setting>
            <setting name="Energie_EDSN_FileProcessing_FileProcessingService"
                serializeAs="String">
                <value>http://localhost:7001/b2b/bulk/generic/FileProcessing</value>
            </setting>
            <setting name="Energie_EDSN_FileRecall_FileRecallService" serializeAs="String">
                <value>http://localhost:7001/b2b/bulk/generic/FileRecall</value>
            </setting>
            <setting name="Energie_EDSN_FileUpload_FileUploadService" serializeAs="String">
                <value>http://localhost:7001/b2b/bulk/upload/FileUpload</value>
            </setting>
            <setting name="Energie_EDSN_P4_P4" serializeAs="String">
                <value>https://p4-test.edsn.nl:443/P4BatchVerzoekMeterstand/P4Port</value>
            </setting>
            <setting name="Energie_EDSN_MoveIn_MoveIn" serializeAs="String">
                <value>http://localhost:9000/b2b/synchroon/ResponderMoveInRespondingActivity</value>
            </setting>
            <setting name="Energie_EDSN_CKIdentification_1_CKIdentification"
                serializeAs="String">
                <value>http://localhost:9000/b2b/synchroon/ResponderCKIdentificationRespondingActivity</value>
            </setting>
            <setting name="Energie_EDSN_GetMPInformation_GetMPInformation"
                serializeAs="String">
                <value>http://localhost:9000/b2b/synchroon/ResponderGetMPInformationRespondingActivity</value>
            </setting>
            <setting name="Energie_EDSN_SearchMeteringPointsMP_SearchMeteringPointsMP"
                serializeAs="String">
                <value>http://localhost:9000/b2b/synchroon/ResponderSearchMeteringPointsMPRespondingActivity</value>
            </setting>
            <setting name="Energie_EDSN_GetMeteringPointMP_GetMeteringPointMP"
                serializeAs="String">
                <value>http://localhost:9000/b2b/synchroon/ResponderGetMeteringPointMPRespondingActivity</value>
            </setting>
            <setting name="Energie_EDSN_GetSCMPInformation_GetSCMPInformation"
                serializeAs="String">
                <value>http://localhost:9000/b2b/synchroon/ResponderGetSCMPInformationRespondingActivity</value>
            </setting>
            <setting name="Energie_EDSN_MasterdataGain_MasterDataGain" serializeAs="String">
                <value>http://localhost:9000/b2b/synchroon/ResponderMasterDataGainRespondingActivity</value>
            </setting>
            <setting name="Energie_EDSN_MeasureCorrection_MeasureCorrection"
                serializeAs="String">
                <value>http://localhost:9000/b2b/synchroon/ResponderMeasureCorrectionRespondingActivity</value>
            </setting>
            <setting name="EDSN2016_EndOfSupply_EndOfSupply" serializeAs="String">
                <value>http://</value>
            </setting>
            <setting name="EDSN2016_EndOfSupplyBatch_EndOfSupplyBatch" serializeAs="String">
                <value>http://</value>
            </setting>
            <setting name="EDSN2016_LossGainRejectUpdate_LossGainRejectUpdate"
                serializeAs="String">
                <value>http://</value>
            </setting>
            <setting name="EDSN2016_MasterDataBatch_MasterDataBatch" serializeAs="String">
                <value>http://</value>
            </setting>
            <setting name="EDSN2016_MoveOut_MoveOut" serializeAs="String">
                <value>http://</value>
            </setting>
            <setting name="EDSN2016_MoveOutBatch_MoveOutBatch" serializeAs="String">
                <value>http://</value>
            </setting>
            <setting name="EDSN2016_NameChange_NameChange" serializeAs="String">
                <value>http://localhost:9000/b2b/synchroon/ResponderNameChangeRespondingActivity</value>
            </setting>
            <setting name="EDSN2016_NameChangeBatch_NameChangeBatch" serializeAs="String">
                <value>http://localhost:9000/b2b/synchroon/ResponderNameChangeBatchRespondingActivity</value>
            </setting>
            <setting name="Energie_EDSN_ChangeOfPV_ChangeOfPV" serializeAs="String">
                <value>http://</value>
            </setting>
            <setting name="Energie_EDSN_P4Subscription_Subscriptions" serializeAs="String">
                <value>http://localhost</value>
            </setting>
            <setting name="Energie_EDSN_P4GetHistoricalSmartMeterReading_GetHistoricalSmartMeterReadingSeries"
                serializeAs="String">
                <value>http://localhost</value>
            </setting>
            <setting name="Energie_EDSN_P4GetHistoricalSmartMeterReadingDifferential_GetHistoricalSmartMeterReadingSeriesDifferential"
                serializeAs="String">
                <value>http://localhost</value>
            </setting>
        </nl.Energie.EDSN.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup></configuration>
