@media (min-width: 768px) and (max-width: 979px) {
.space_left{ margin-left:0!important}
#top_barcont {
	width:740px;
}
#container {
	width:auto;
	margin:0 5px;
}
#menu {
	padding-left:10px;
	width:580px;
}
#customer_login {
	width:120px;
}
#menu ul li {
	width:96px;
}
#menu ul li:last-child {
	width:95px;
}
#main_content {
	padding:36px 10px 20px 10px;
}
#content {
	width: 480px;
}
.banner_widget {
	width:132px;
	min-height:135px;
}
.more_info {
	right:22px;
}
.footer_widget {
	width:170px;
}
.footer_scnd_widget {
	width:200px;
}

/*----------------------*/
/*    Management team   */
/*----------------------*/
#contact_details ul li span {
	width:35%;
	font-size:12px;
}
#contact_details ul li span:first-child {
	width:25%;
}
#contact_details ul li a {
	width:40%;
	font-size:12px;
}

/*----------------------*/
/*    Contact us        */
/*----------------------*/
#contact_content {
	margin:0 auto;
	width:460px;
	padding-bottom:80px;
}
#lft_contact {
	width:100%;
	overflow:hidden;
	float: none;
}
#rgt_contact {
	float: none;
	width:230px;
	margin:0 auto;
	padding-top:20px;
}

/*----------------------*/
/* Products and Services*/

/*----------------------*/
#product_service_area {
	width:100%;
	margin:0;
}
.product_service {
	width:100%;
	overflow:hidden;
}
.product_service hr {
	width:340px;
}
.lft_product_service {
	float:left;
	width:340px;
}
.rgt_product_service {
	float:right;
	width:125px;
	padding-top:25px;
}
.rgt_product_service img {
	display: block;
	border:1px solid #a8a9ad;
	max-width:123px;
}

/*----------------------*/
/*    Glossary          */
/*----------------------*/
#glossary_content {
	margin:0 50px 0 50px;
	padding-bottom:80px;
}
#glossary li {
	float:left;
	background:none;
	padding:0 7px 0 0;
	font-size:18px;
}
#glossary li a {
	font-size:20px;
	color:#282680;
	text-decoration:none;
}

/*----------------------*/
/*    customer          */
/*----------------------*/
#customer_logo_area {
	margin-right:0;
	width:100%;
}
#customer_logo_area img {
	display:block;
	float:left;
}
#customer_logo_area img {
	margin:5px 0 5px 20px;
}
.entry img {
	height:auto;
	margin:0 auto;
	margin-bottom:10px;
	display:block; 
}
}

@media (max-width: 767px) {
.space_left{ margin-left:0!important}
#top_barcont {
	width: auto;
}
#header {
	padding-left:10px;
}
#container {
	width: auto;
	margin:0 5px;
}
.logo {
	width:199px;
}
.logo a,
.logo span {
	float:none;
}
.logo span {
	padding-top:20px;
}
#customer_login {
	width:120px;
}
#menu {
	background:none;
	width:440px;
	padding-left:10px;
}
.tinynav {
	display:block;
    cursor: pointer;
    background: none repeat scroll 0 0 #2b2a7e;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.1);
    color: #fff;
    display: block;
	font-size:10px;
	text-transform:uppercase;
    outline: medium none;
	border:1px solid #2b2a7e;
	width:100%;
	max-width:100%;
	padding:6px;
	float:left;
	height:29px;
	font-weight:bold;
}
#nav {
	display:none;
}
#main_content {
	padding:36px 10px 20px 10px;
}
#content {
	width: auto;
}
.banner_widget {
	width:109px;
	min-height:130px;
	margin-right:10px;
}
.banner_thrd_widget {
	margin:0;
}
.banner_widget h2 {
	font-size:16px;
}
.footer_widget {
	width:126px;
}
.footer_scnd_widget {
	width:200px;
}
.clear_for_iphone {
	display:block;
}
#breadcrumbs {
	padding-left:10px;
}
.menu_left_bg {
	left:-1985px;
}
.header_reapet {
	height:207px;
}

/*----------------------*/
/*    Management team   */
/*----------------------*/
#contact_details ul li span {
	width:30%;
	font-size:10px;
}
#contact_details ul li span:first-child {
	width:20%;
}
#contact_details ul li a {
	width:50%;
	font-size:10px;
}

/*----------------------*/
/* Products and Services*/
/*----------------------*/
#product_service_area {
	width:100%;
	margin:0 0 20px 0;
}
.product_service {
	width:100%;
	overflow:hidden;
}
.product_service hr {
	width:100%;
}
.lft_product_service {
	float: none;
	width:100%;
}
.lft_product_service a {
	float: none;
	text-align:center;
}
.rgt_product_service {
	float:none;
	width:100%;
	padding-top:25px;
}
.rgt_product_service img {
	display: block;
	border:1px solid #a8a9ad;
	margin:0 auto;
	margin-bottom:10px;
}

/*----------------------*/
/*    Glossary          */
/*----------------------*/
#glossary_content {
	margin:0;
	padding-bottom:80px;
}
#glossary li {
	float:left;
	background:none;
	padding:0 4px 0 0;
	font-size:14px;
}
#glossary li a {
	font-size:16px;
	color:#282680;
	text-decoration:none;
}

/*----------------------*/
/*    customer          */
/*----------------------*/
#customer_logo_area {
	margin-right:0;
	width:100%;
}
#customer_logo_area img {
	display:block;
	float:left;
}
}

@media (max-width: 640px) {
.space_left{ margin-left:0!important}
#top_barcont {
	width: auto ;
}
#top_barcont ul {
	padding-right:10px;
}
#container {
	width: auto ;
	margin:0 5px;
}
.logo {
	width:336px;
}
.logo a,
.logo span {
	float:left;
}
.logo span {
	padding-top:67px;
}
#social_media {
	float:none;
	padding-top:20px;
}
#menu {
	background:none;
	width:280px;
	padding-left:10px;
}

#side_bar {
	float:none;
	width:100%;
}
#content {
	float:none;
	width:100%;
}
.banner_widget {
	width:109px;
	min-height:130px;
	margin-right:10px;
}
.banner_thrd_widget {
	margin:0;
}
.banner_widget h2 {
	font-size:16px;
}
#content_two_pannel {
	padding-bottom:20px;
}
#copy_right span {
	padding-bottom:10px;
}
#about_nav li {
	float:none;
	margin:0 auto 20px auto;
}
.header_reapet {
	height:210px;
}

/*----------------------*/
/*    Management team   */
/*----------------------*/
#contact_details ul li span {
	width:30%;
	font-size:10px;
}
#contact_details ul li span:first-child {
	width:25%;
}
#contact_details ul li a {
	width:45%;
	font-size:10px;
}

/*----------------------*/
/*    Contact us        */
/*----------------------*/
#contact_content {
	margin:0 auto;
	width:420px;
	padding-bottom:80px;
}
#lft_contact {
	width:100%;
	overflow:hidden;
	float: none;
}
#rgt_contact {
	float: none;
	width:230px;
	margin:0 auto;
	padding-top:20px;
}
#contact_form p {
	overflow:hidden;
	width:390px;
	position:relative;
}
#contact_form p input {
	width:289px;
	height:32px;
	border:1px solid #949599;
	outline:none;
	background:#fff;
	box-shadow:6px 4px 0px 0px #949599;
	padding:0 88px 0 8px;
	text-transform:uppercase;
	font-size:13px;
	color:#949599;
	font-weight: normal;
}
#contact_form p textarea {
	width:370px;
	height:156px;
	border:1px solid #949599;
	outline:none;
	background:#fff;
	box-shadow:6px 4px 0px 0px #949599;
	padding:8px;
	margin:3px 0 0 0;
	font-size:13px;
	color:#949599;
	font-weight: normal;
	text-transform:uppercase;
	font-family: Arial, Helvetica, sans-serif;
}

/*----------------------*/
/*    Glossary          */
/*----------------------*/
#glossary_content {
	margin:0;
	padding-bottom:80px;
}
#glossary li {
	float:left;
	background:none;
	padding:0 1px 0 0;
	font-size:12px;
}
#glossary li a {
	font-size:13px;
	color:#282680;
	text-decoration:none;
}

/*----------------------*/
/*    customer          */
/*----------------------*/
#customer_logo_area {
	margin-right:0;
	width:100%;
}
#customer_logo_area img {
	margin:0 auto;
	display:block;
}
.banner_widget {
	width:150px;
}
.more_info {
	right:32px;
}

#customer_logo_area {
	margin:0 auto;
	width:420px;
}
#customer_logo_area img {
	margin:5px 0 5px 10px;
}
.entry img {
	height:auto;
	margin:0 auto;
	margin-bottom:10px;
	display:block; 
}
}

@media (max-width: 567px) {
.space_left{ margin-left:0!important}
#customer_logo_area img {
	margin:5px 0 5px 10px;
}
.banner_widget {
	width:120px;
}
.more_info {
	right:18px;
}
#contact_content {
	margin:0;
}
.entry img {
	max-width:400px;
	height:auto;
	margin:0 auto;
	margin-bottom:10px;
	display:block; 
}
}

@media (min-width: 0px) and (max-width: 479px) {
.space_left{ margin-left:0!important}
#top_barcont {
	width:280px;
}
#top_barcont ul li a {
	width:122px;
	font-size:9px;
}
#container {
	width: auto;
}
.logo {
	width:270px;
}
.logo a,
.logo span {
	float:left;
}
.logo span {
	padding-top:20px;
}
.header_reapet {
	height:257px;
}
#social_media {
	float:none;
	padding-top:20px;
	width:270px;
}
#menu {
	background:none;
	width:160px;
	padding-left:10px;
}
#customer_login {
	width:100px;
}
#side_bar {
	float:none;
	width:100%;
}
#content {
	float:none;
	width:100%;
}
.banner_widget {
	min-height:80px;
	margin-right:0;
	width:auto;
	float:none;
	margin-bottom:15px;
}
.banner_widget h2 {
	font-size:18px;
}
.footer_widget {
	width:100%;
	float:none;
}
.footer_scnd_widget {
	width:100%;
}
.ofgen_thrd_colmn {
	width:118px;
}

/*----------------------*/
/*    Management team   */
/*----------------------*/
#contact_details ul li span {
	width:20%;
	font-size:10px;
}
#contact_details ul li span:first-child {
	width:20%;
}
#contact_details ul li a {
	width:60%;
	font-size:10px;
}

/*----------------------*/
/*    Contact us        */
/*----------------------*/
#contact_content {
	margin:0 auto;
	width:280px;
	padding-bottom:80px;
}
#lft_contact {
	width:100%;
	overflow:hidden;
	float: none;
}
#rgt_contact {
	float: none;
	width:280px;
	margin:0;
	padding-top:20px;
}
#rgt_contact img {
	display:block;
	margin:0 10px 0 0;
}
#contact_form p {
	overflow:hidden;
	width:260px;
	position:relative;
}
#contact_form p input {
	width:240px;
	height:32px;
	padding:0 8px 0 8px;
}
#contact_form p small {
	display:none;
}
#contact_form p textarea {
	width:240px;
	height:156px;
	padding:8px;
}

/*----------------------*/
/*    customer          */
/*----------------------*/
#customer_logo_area {
	margin:0 auto;
	width:180px;
}
#customer_logo_area img {
	margin:5px 0;
}
.entry img {
	max-width:280px;
	height:auto;
	margin:0 auto;
	display:block; 
}
#contact_content {
	margin:0;
}
.entry img {
	max-width:280px;
	height:auto;
	margin:0 auto;
	margin-bottom:10px;
	display:block; 
}
}
@media (min-width: 0) and (max-width: 320px) {
	.remove_cl{ display:none;}
}