<style type="text/css" > .form-data-entry-style {
    margin: 10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 7px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-data-entry-style li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-data-entry-style label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
}

.form-data-entry-style input[type=text],
.form-data-entry-style input[type=date],
.form-data-entry-style input[type=datetime],
.form-data-entry-style input[type=number],
.form-data-entry-style input[type=search],
.form-data-entry-style input[type=time],
.form-data-entry-style input[type=url],
.form-data-entry-style input[type=email],
textarea,
select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

    .form-data-entry-style input[type=text]:focus,
    .form-data-entry-style input[type=date]:focus,
    .form-data-entry-style input[type=datetime]:focus,
    .form-data-entry-style input[type=number]:focus,
    .form-data-entry-style input[type=search]:focus,
    .form-data-entry-style input[type=time]:focus,
    .form-data-entry-style input[type=url]:focus,
    .form-data-entry-style input[type=email]:focus,
    .form-data-entry-style textarea:focus,
    .form-data-entry-style select:focus {
        -moz-box-shadow: 0 0 8px #88D5E9;
        -webkit-box-shadow: 0 0 8px #88D5E9;
        box-shadow: 0 0 8px #88D5E9;
        border: 1px solid #88D5E9;
    }

.form-data-entry-style .field-divided-klein {
    width: 8%;
}
.form-data-entry-style .field-divided {
    width: 25%;
}

.form-data-entry-style .field-long {
    width: 49%;
}

.form-data-entry-style .field-select {
    width: 100%;
}

.form-data-entry-style .field-textarea {
    height: 100px;
}

.form-data-entry-style input[type=submit], .form-data-entry-style input[type=button] {
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}

    .form-data-entry-style input[type=submit]:hover, .form-data-entry-style input[type=button]:hover {
        background: #4691A4;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
.input-control[data-role=select] {
    height: auto;
}
[data-role="dropdown"]:not(.open),
[data-role="dropdown"]:not(.keep-open) {
    display: none;
    position: absolute;
    z-index: 1000;
}
.form-data-entry-style .required {
    color: red;
}

</style >
