<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
  <connectionStrings>
    <add name="KlantConfig" connectionString="server=94.126.67.251,1433;database=Klantconfig;User ID=sa;Password=@dminEdbs2017!;"/>
  </connectionStrings>

  <appSettings>
    <add key="KLANTCONFIG" value="server=94.126.67.251,1433;database=KlantConfig;User ID=sa;Password=@dminEdbs2017!;"/>
    <add key="PORTAAL_DEBUG" value="https://portaal.edsn.nl/b2b2/"/>
    <add key="PORTAAL_RELEASE" value="https://portaal.edsn.nl/b2b2/"/>
    <add key="Timeout" value="10000"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="EDBGWebService.EDBG" value="http://localhost:54286/EDBG.asmx"/>
  </appSettings>
  
</configuration>
